/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a:link { 
    color:#0E77BE;
    text-decoration: none;
}
a:visited { 
    color:#0E77BE;
    text-decoration: none;
    
}

a:hover { 
    color:black;
    text-decoration: underline;
}


/* 
        COINTAINER
                        */
#cointainer {
    background-color:white;
    color:black;
    width:1000px;
    margin: 0 auto;
    text-align:left;
}





/* 
        HEADER
                        */
#header {
    background-color:#0744C9;
    background-image: url('https://1ik415-laborationer-c9-mp222sf.c9.io/pics/jag_logotype.png');
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
    text-align:left;
    height:150px;
    padding:10px;
    margin: 20px 0px 0px 0px;
    border-radius: 30px 30px 0px 0px;
    border: 0px solid #616161;
}
#header h1 {
   font-size:72px;
   text-align: right;
}
#header h3 {
   font-size:32px; 
   text-align: right;
}

#navigation_content {

    background-color:#0744C9;
    width:1000px;
    height:100%;
    float:left;
    


}
/* 
        NAVIGATION
                        */
#navigation           {
    line-height:30px;
    background-color:#0744C9;
    width:230px;
    height:100%;
    float:left;
    padding:0px;
}
#navigation h3 {
   font-size:32px;
   margin-bottom:10px;
   margin-top:20px;
   margin-left:10px;
}
#navigation ul {
    list-style-type: square;
    margin-left:0px;
    font-size:12px;
}


#navigation li {
list-style: none;
margin: 0px 0 0px 0;
} 
#navigation li a {
display: block;
width: 230px;
margin: 0;
padding: 0px 0px 0px 10px;
text-align: left;
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size: 12px;
color:#042875;
border-radius: 0px;
border: 1px solid #616161;
background: #042875;

}
#meny_lista li a {
display: block;
width: 230px;
margin: 0;
padding: 0px 0px 0px 20px;
text-align: left;
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size: 12px;
color:#4173DD;
border-radius: 0px;
border: 1px solid #616161;
background: #4173DD;

}
#navigation li a:hover {
cursor: pointer; 
background:#0744C9;
color: white;
}
#navigation a:link, #navigation a:visited { 
color: rgba(255,255,255,1);
text-decoration: none;
}
#navigation a:active { 
color: rgba(250,191,12,1);
}
#navigation a#current {
background: white;
color:black;
}





/* 
        CONTENT
                        */
#content {
    width:750px;
    height:100%;    
    background-color:#E0E0D1;    
    float:left;
    padding:10px;

}
#content p {

   margin-bottom:5px;
   margin-top:0px;
}
#content strong {
   margin-top: 20px;    
   font-weight:bold;
    
    
}
#content dt {
   margin-top: 10px;    

    
    
}
#content li {
   margin-top: 10px;    
}
#content li li {
   margin-top: 0px;    

    
    
}
#content h3 {
   font-size:32px;
   margin-bottom:10px;
   margin-top:10px;
}
#content h4 {
   font-size:24px;    
   margin-bottom:5px;
   margin-top:25px;
   border-bottom: 1px solid #1E1E1E;
}
#content h4.blogg {
   background-image: url('https://1ik415-laborationer-c9-mp222sf.c9.io/pics/jag_logotype.png');
   background-size: contain;
   background-repeat: no-repeat;
   font-size:24px;    
   margin-bottom:5px;
   margin-top:25px;
   padding-left:45px;
}

#content fieldset {
    border:1px solid black;
    padding: 5px;
    
    
}

#content legend {
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
  color:black;
  font-size:90%;
  text-align:left;
  }
  
#content thead {
   font-weight:bold;
   padding: 5px;
   margin-top: 20px
   margin-bottom: 20px;
}

#content th {
    padding-top: 5px;
   padding-bottom: 5px;
}
#content tfoot td {
   padding-top: 5px;
}

  
#big_buck_bunny {
    margin-bottom:10px;
    margin-top:10px;
}




/* 
        FOOTER
                        */
#footer {
    background-color:#616161;
    color:white;
    clear:both;
    text-align:center;
    padding:10px;
    margin: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 10px;    
}